body {
  display: flex;
  justify-content: center;
  text-align: center;
}
.wrapper {
  border: 1px solid black;
  width: 70vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
}
.input-word {
  font-size: 100%;
  width: 35vw;
  height: 8%;
  margin-top: 3%;
}
.find-slang {
  cursor: pointer;
  font-size: 3vw;
  width: 30vw;
  height: 10%;
  margin-top: 5%;
}
.result {
  text-align: center;
  font-size: 2vw;
  width: 50vw;
  height: 40%;
  margin-bottom: 8%;
}
.error {
  font-size: 2rem;
  color: red;
}
